<% if @value != nil %>
<h3>Searched: <%= @value[0].humanize %>: <%= link_to('<-',{:action => 'show_next', :id => @value[1].to_i-1, :field => @value[0]}, :remote => true) if ((@value[0] == 'household') and @value[1].to_i > 1) %> <%= @value[1] %> <%= link_to('->',{:action => 'show_next', :id => @value[1].to_i+1, :field => @value[0]}, :remote => true) if @value[0] == 'household' %></h3>
<% else %>
<h3>Searched:  <%= @search_terms %></h3>
<% end %>
<% if @error_message != nil && @error_message != '' %>
<pre>
<%= @error_message %>
</pre>
<% else %>
<%= page_entries_info @wide_tables %><br/>
<span title="Go to another results page.  (Scroll below current page results for a page number not here.)"><%= paginate @wide_tables, :left => 3, :window => 3, :right => 3, :params => {:controller => 'wide_tables', :action => 'find_results'}, :remote => true %></span>
<% if @value != nil %>
	<%= form_tag(url_for(:action => 'choose_cart'), :method => 'get', :remote => true) do %>
		<% ids = ''%>
		<% @wide_tables.map {|o| ids += ',' if ids != ''; ids += "#{o.id}"}%>
		<input type="hidden" name="result_ids" value="<%= ids %>">
		<input type="hidden" name="field" value="<%= @value[0] %>">
		<input type="hidden" name="value" value="<%= @value[1] %>">
		<%= submit_tag('Add all to Hypothesis')%>
	<% end %>
<% end %>
<table id="result_table" class="tablesorter">
	<thead>
	<th>Record&nbsp;#</th>
	<th>Source</th>
	<th>Record&nbsp;Year</th>
	<th>First&nbsp;Name</th>
	<th>Last&nbsp;Name</th>
	<th>Birth&nbsp;Year</th>
	<th>Race</th>
	<th>Gender</th>
	<th>Owner</th>
	<th>Location&nbsp;person</th>
	<th>Mother</th>
	<th>Father</th>
	</thead>
	<tbody>
<% @wide_tables.each do |t| %>
	<tr>
		<td><%= link_to(t.id, {:action => 'show_result', :id => t.id}, :remote => true )%>
		<td><%= t.src_table_id %></td>
		<td><%= t.record_year %></td>
		<td><%= t.first_name %></td>
		<td><%= t.last_name %></td>
		<td><%= t.birth_year %></td>
		<td><%= t.race %></td>
		<td><%= t.gender %></td>
		<td><%= t.owner %></td>
		<td><%= t.location_person %></td>
		<td><%= t.mother %></td>
		<td><%= t.father %></td>
<% end %>
	</tbody>
</table>

<%= page_entries_info @wide_tables %><br/>
<span title="Go to another results page."><%= paginate @wide_tables, :left => @wide_tables.total_pages, :window => @wide_tables.total_pages, :right => @wide_tables.total_pages, :params => {:controller => 'wide_tables', :action => 'find_results'}, :remote => true %></span>
<% end %>
