<div id="left_column">
<div id="search_criteria">
       <%= form_for :wide_table, :url => {:action => 'find_results'}, :remote => true, :html => {:onreset=>"$('.extra').css('display', 'none');", :onSubmit => "$('#search_results').html('<h3>Searching&hellip;</h3>');return false;"} do %>
		<!-- uncomment this div to add duplicate controls at top of left (search) pane
		note that mode-change control (to advd search form) may need to be removed
		<div class="inputs">
			<input type="submit" value="Search"/>
			<input type="reset" value="Clear"/>
			<% if Rails.application.config.per_pages_selected != nil %>
			Show&nbsp;<select id="perpage_remote_ctrl" onchange="if($('#perpage').val() !== $(this).val()) $('#perpage').val( $(this).val() )">
			<% i = 0 %>
			<% Rails.application.config.per_pages_values.each do |ppv|%>
				<% selectedAsText = (i == Rails.application.config.per_pages_selected) ? "selected='true'" : '' %>
				<option value="<%= ppv %>" <%= selectedAsText %>><%= Rails.application.config.per_pages_labels[i] %></option>
				<% i = i + 1 %>
			<% end %>
			</select>
			<% end %>
			<%= link_to_function(button_tag('Advanced Search'), "$('#search_criteria').html(\"#{escape_javascript render(:file => 'wide_tables/adv_search_tables.html.erb')}\")")%>
		</div>
		end commented-out div -->

	<table>
		<tr>
			<td>First&nbsp;name</td>
			<td>
				<select name="first_name_op" onchange="$('.first_name_extra').css('display', (-1 < this.value.indexOf('range')) ? 'table-row' : 'none');">
					<option value="equals">is</option>
					<option value="fragment" selected="true">includes</option>
					<option value="begins">begins</option>
					<option value="ends">ends</option>
					<option value="range">between</option>
					<option value="like">wildcard</option>
					<option value="rlike">regex</option>
					<option value="soundslike">sound</option>
				</select>
			</td>
			<td style="white-space: nowrap;">
				<input class="first_name_initial" type="text" name="first_name"/>
			</td>
		</tr>
		<tr class="first_name_extra extra" style="display:none">
			<td colspan="2" style="text-align:right;font-style:italic;">and</td>
			<td style="white-space: nowrap;">
				<input type="text" name="first_name_end"/>
			</td>
		</tr>
		<tr>
			<td>Last&nbsp;name</td>
			<td>
				<select name="last_name_op" onchange="$('.last_name_extra').css('display', (-1 < this.value.indexOf('range')) ? 'table-row' : 'none');">
					<option value="equals">is</option>
					<option value="fragment" selected="true">includes</option>
					<option value="begins">begins</option>
					<option value="ends">ends</option>
					<option value="range">between</option>
					<option value="like">wildcard</option>
					<option value="rlike">regex</option>
					<option value="soundslike">sound</option>
				</select>
			</td>
			<td style="white-space: nowrap;">
				<input class="last_name_initial" type="text" name="last_name"/>
			</td>
		</tr>
		<tr class="last_name_extra extra" style="display:none">
			<td colspan="2" style="text-align:right;font-style:italic;">and</td>
			<td style="white-space: nowrap;">
				<input type="text" name="last_name_end"/>
			</td>
		</tr>
		<tr>
			<td>Mother</td>
			<td>
				<select name="mother_op" onchange="$('.mother_extra').css('display', (-1 < this.value.indexOf('range')) ? 'table-row' : 'none');">
					<option value="equals">is</option>
					<option value="fragment" selected="true">includes</option>
					<option value="begins">begins</option>
					<option value="ends">ends</option>
					<option value="range">between</option>
					<option value="like">wildcard</option>
					<option value="rlike">regex</option>
					<option value="soundslike">sound</option>
				</select>
			</td>
			<td style="white-space: nowrap;">
				<input class="mother_initial" type="text" name="mother"/>
			</td>
		</tr>
		<tr class="mother_extra extra" style="display:none">
			<td colspan="2" style="text-align:right;font-style:italic;">and</td>
			<td style="white-space: nowrap;">
				<input type="text" name="mother_end"/>
			</td>
		</tr>
		<tr>
			<td>Owner</td>
			<td>
				<select name="owner_op" onchange="$('.owner_extra').css('display', (-1 < this.value.indexOf('range')) ? 'table-row' : 'none');">
					<option value="equals">is</option>
					<option value="fragment" selected="true">includes</option>
					<option value="begins">begins</option>
					<option value="ends">ends</option>
					<option value="range">between</option>
					<option value="like">wildcard</option>
					<option value="rlike">regex</option>
					<option value="soundslike">sound</option>
				</select>
			</td>
			<td style="white-space: nowrap;">
				<input class="owner_initial" type="text" name="owner_purchaser_etc"/>
			</td>
		</tr>
		<tr class="owner_extra extra" style="display:none">
			<td colspan="2" style="text-align:right;font-style:italic;">and</td>
			<td style="white-space: nowrap;">
				<input type="text" name="owner_end"/>
			</td>
		</tr>
		<tr>
			<td>Birth&nbsp;Year</td>
			<td>
				<select name="birth_year_op" onchange="$('#birth_year_end').css('display', (this.value === 'range') ? 'inline' : 'none')">
					<option value="equals" selected="true">is</option>
					<option value="range">between</option>
				</select>
			</td>
			<td style="white-space: nowrap;">
				<input type="text" name="birth_year" size="4"/>
				<span id="birth_year_end" class="extra" style="display:none">&nbsp;&dash;&nbsp;<input type="text" name="birth_year_end" size="4"/></span>
			</td>
		</tr>
		<tr>
			<td>Rec&nbsp;Year</td>
			<td>
				<select name="record_year_op" onchange="$('#record_year_end').css('display', (this.value === 'range') ? 'inline' : 'none')">
					<option value="equals" selected="true">is</option>
					<option value="range">between</option>
				</select>
			</td>
			<td style="white-space: nowrap;">
				<input type="text" name="record_year" size="4"/>
				<span id="record_year_end" class="extra" style="display:none">&nbsp;&dash;&nbsp;<input type="text" name="record_year_end" size="4"/></span>
			</td>
		</tr>
		<tr>
			<td>Race</td>
			<td colspan="2">
				<input type="checkbox" name="race[]" value="B">Black</input>
				<input type="checkbox" name="race[]" value="W">White</input>
				<input type="checkbox" name="race[]" value="M">Mulatto</input>
			</td>
		</tr>
		<tr>
			<td>Gender</td>
			<td colspan="2">
				<input type="checkbox" name="gender[]" value="female">female</input>
				<input type="checkbox" name="gender[]" value="male">male</input>
			</td>
		</tr>
		<tr>
			<td colspan="3">Source</td>
		</tr>
		<% @tables.each do |t|%>
		<% stripped = t.title.gsub('(','').gsub(')','')  %>
		<tr>
			<td colspan="3" style="white-space: nowrap;">
				<input type="checkbox" name="tables[]" value="<%= t.id %>" title="<%= t.id %> <%= stripped%>">
				<%= t.id %>&nbsp;<%= stripped%>
			</td>
		</tr>
		<% end %>
		<!--tr>
			<td>Search&nbsp;Terms&nbsp;include</td>
			<td colspan="2" style="text-align:right;">
				<select name="search_terms_op" onchange="$('.search_terms_extra').css('display', (0 == this.value.indexOf('freetext')) ? 'table-row' : 'none');">
					<option value="no_freetext" selected="true">only the terms above</option>
					<optgroup label="advanced">
						<option value="freetext">also these terms:</option>
					</optgroup>
				</select>
			</td>
		</tr-->
		<tr><td colspan="3">
			<div style="float:left;">Search&nbsp;Terms&nbsp;include</div>
			<div style="float:left;text-align:right;">
				<select name="search_terms_op" onchange="$('.search_terms_extra').css('display', (0 == this.value.indexOf('freetext')) ? 'table-row' : 'none');">
					<option value="no_freetext" selected="true">only the terms above</option>
					<optgroup label="advanced">
						<option value="freetext">also these terms:</option>
					</optgroup>
				</select>
			</div>
		</td></tr>
		<tr class="search_terms_extra extra" style="display:none">
			<td colspan="3" style="white-space: nowrap;">
				<textarea name="search_terms" cols="50" rows="5"></textarea>
			</td>
		</tr>
		<!--tr>
			<td>Order&nbsp;Results</td>
			<td colspan="2" style="text-align:right;">
				<select name="results_order_op" onchange="$('.results_order_extra').css('display', (0 == this.value.indexOf('freetext')) ? 'table-row' : 'none');">
					<option value="no_freetext" selected="true">in database record order</option>
					<optgroup label="advanced">
						<option value="freetext">by these database fields:</option>
					</optgroup>
				</select>
			</td>
		</tr-->
		<tr><td colspan="3">
			<div style="float:left;">Order&nbsp;Results</div>
			<div style="float:left;text-align:right;">
				<select name="results_order_op" onchange="$('.results_order_extra').css('display', (0 == this.value.indexOf('freetext')) ? 'table-row' : 'none');">
					<option value="no_freetext" selected="true">in database record order</option>
					<optgroup label="advanced">
						<option value="freetext">by these database fields:</option>
					</optgroup>
				</select>
			</div>
		</td></tr>
		<tr class="results_order_extra extra" style="display:none">
			<td colspan="3" style="white-space: nowrap;">
				<textarea name="results_order" cols="50" rows="5"></textarea>
			</td>
		</tr>
		</table>
		<!--
		<p class="note-text">For each of the following options, uncheck all to select all records.  
		Select one or more to narrow your search to records that contain any of the checked terms.</p>
		-->
		<div class="inputs">
			<input type="submit" value="Search"/>
			<input type="reset" value="Clear"/>
			<% if Rails.application.config.per_pages_selected == nil %>
			<input name="perpage" type="hidden" value="<%= Rails.application.config.per_pages[0].value %>"/>
			<% else %>
			Show&nbsp;<select name="perpage" id="perpage">
				<!-- uncomment this attr and knit back into preceding select element to add duplicate controls at top of left (search) pane
				onchange="if($('#perpage_remote_ctrl').val() !== $(this).val()) $('#perpage_remote_ctrl').val( $(this).val() )" -->
			<% i = 0 %>
			<% Rails.application.config.per_pages_values.each do |ppv|%>
				<% selectedAsText = (i == Rails.application.config.per_pages_selected) ? "selected='true'" : '' %>
				<option value="<%= ppv %>" <%= selectedAsText %>><%= Rails.application.config.per_pages_labels[i] %></option>
				<% i = i + 1 %>
			<% end %>
			</select>
			<% end %>
			<!-- %= link_to_function(button_tag('Advanced Search'), "$('#search_criteria').html(\"#{escape_javascript render(:file => 'wide_tables/adv_search_tables.html.erb')}\")")% -->
		</div>
	<% end %>
</div>
<div id="dock">
<% @groups.each do |group| %>
	<div id="<%= group.id %>_dock">
		<div><%= group.name %> <%= link_to(image_tag('print.png', :size => '20x20', :title => 'Print Group'), {:action => 'print_group', :id => group.id}, :target => '_blank')%> <%= link_to(image_tag('trash_can.png', :size => '20x20', :title => 'Delete Group'), {:action => 'remove_group', :id => group.id}, :remote => true, :confirm => "Are you Sure?")%></div>
	</div>
<% end %>
</div>
</div>
<div id="results">
	<div id="search_results">
	</div>
	<div id="view_result">
	</div>
</div>
<% @groups.each do |group| %>
	<% group.collections.each do |collection| %>
		<% @group_name = group.name %>
		<% @group_id = group.id %>
		<% @hyp_name = collection.name %>
		<% @hyp_id = collection.id %>
		<% @cart = collection.hyp_items %>
		<% @validated = collection.validated %>
		<% @dock = "#{group.id}_dock" %>
		<%= render :partial => 'cart' %>
	<% end %>
<% end %>
